
.oemath-font-monospace {
	font-family: monospace;
}

#oemathid-practice-header {
	width: 100%;
}


.oemath-problem-text {
	color: lightgreen;
}

.oemath-problem-area {
	width: 90%;
	margin: 0 5% 0 5%;
}

.oemath-answer-text {
	color: lightgreen;
}

.oemath-answer-input {
	width: 200px;
}


.btn-group-review {
	width: 36px;
	text-align: middle;
}
.oemath-review-btn-group{
	position: relative;
	width: 800px;
	margin: 0 auto;
}

#oemathid-practice-container {
	padding-bottom: 15px;
	width: 100%;
	min-height: 720px;
}

.oemath-problem-desc {
	text-align: justify;
	line-height: 30px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.oemath-problem-image {
    position: relative;
    margin: auto;
}
.oemath-svg-input {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.oemath-inline-input {
    position: relative;
    font-family: Verdana;
    width: 28px;
    height: 36px;
    text-align: center;
    border: 1px solid #A7A6AA;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: blue;
    font-size: 28px;
    text-align: middle;
    box-sizing: content-box;    
}


.oemath-svg-svg{
    display: block;
    margin: auto;
    position: relative;	
}

.oemath-svg{
    position: relative;
    margin: 0 auto;
    stroke-linecap: round;
}

.oemath-svg-text{
    font-size: 17;
    font-family: Verdana;
    text-anchor: middle;
    alignment-baseline: hanging; 
    fill: black;
}



/************************
 vertical styles
 ************************/

.oemath-svg-vertical{
    position: relative;
    font-size: 28px;
    font-family: Verdana;
    text-anchor: middle;
    alignment-baseline: hanging; 
    fill: black;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.oemath-svg-vertical line,path{
    stroke: black;
    stroke-width: 1;
    stroke-linecap: square;
    fill: none;
}

.oemath-svg-vertical input{
    position: absolute;
    font-family: Verdana;
    width: 28px;
    height: 40px;
    text-align: center;
    border: 1px solid #A7A6AA;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: blue;
    font-size: 28px;
    text-align: middle;
    box-sizing: content-box;    
}

.oemath-svg-vertical input[readonly] {
    border: 0;
    color: black;
}

.oemath-svg-svg input {
    border: 0;
    color: black;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

